@font-face {
  font-family: akira;
  src: url(fonts/AkiraExpandedDemo.otf);
}
@font-face {
  font-family: lemonmilk;
  src: url(fonts/LEMONMILKRegular.otf);
}
@font-face {
  font-family: bebas;
  src: url(fonts/BebasNeueRegular.otf);
}
@font-face {
  font-family: dalek;
  src: url(fonts/Dalek.ttf);
}
@font-face {
  font-family: monbold;
  src: url(fonts/MonumentExtendedUltrabold.otf);
}
@font-face {
  font-family: monreg;
  src: url(fonts/MonumentExtendedRegular.otf);
}
@font-face {
  font-family: tsblock;
  src: url(fonts/TSBlockBold.ttf);
}
html {
  --scrollbarBG: transparent;
  --thumbBG: rgb(161, 28, 28);
  min-width: 530px;
}
body::-webkit-scrollbar {
  width: 6px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border: 3px solid var(--scrollbarBG);
  border-radius: 6px;
}
* {
  margin: 0;
}

body {
  background: black;
  width: 100%;
  height: 100vh;
  font-weight: 400;
  overflow-x: hidden;
}

/*NAVIGATION / HEADER*/
nav {
  max-width: 90%;
  margin: auto;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
}
nav .logo {
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}

nav .logo a {
  display: block;
}

nav .logo a img {
  width: 170px;
  margin-top: 17%;
}

nav .links {
  text-align: right;
}
nav .links li {
  display: inline-block;
  padding: 43px 10px;
}
nav .links a {
  display: block;
  font-family: dalek;
  padding: 0px 15px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
}

nav .links li:hover a {
  color: red;
}

nav .links li:nth-child(1),
nav .links li:nth-child(2) {
  float: left;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: sticky;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 7.8%;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* Home */
body .main_content {
  width: 100%;
  position: absolute;
}

.main_content .info {
  margin: 20px;
  color: white;
}

.info h1 {
  margin-left: 30%;
  font-size: 140%;
  margin-right: 5%;
  margin-top: 12.5%;
  font-family: monreg;
  z-index: 7;
  position: relative;
}
h1 span {
  color: rgb(177, 38, 38);
  font-family: akira;
  font-size: 500%;
  animation-name: berserk;
  animation-duration: 2.5s;
}

@keyframes berserk {
  from {
    color: white;
  }
  to {
    color: rgb(177, 38, 38);
  }
}
h1 span br {
  display: none;
}

.bgtext h1 {
  position: absolute;
  opacity: 0.8;
  font-family: monbold;
  font-size: 1580%;
  color: rgb(177, 38, 38);
  z-index: -1;
  margin-top: 10%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  -webkit-transform: scale(1.3, 1.8);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgb(209, 11, 11);
  animation-name: bgtext;
  animation-duration: 1.5s;
  transition: 1s ease-in-out all;
}

@keyframes bgtext {
  from {
    right: 250px;
  }
  to {
    right: 0px;
  }
}

.gif img {
  width: 18%;
  z-index: 10;
  height: 65%;
  min-height: 65%;
  min-width: 18%;
  object-fit: cover;
  margin-left: -13%;
  margin-top: 3%;
  object-position: 15% 0;
  position: absolute;
}

/*GALLERY*/
.galleryh h1 {
  text-align: center;
  color: white;
  margin-top: 7.5%;
  font-family: monbold;
  animation-name: berserks;
  animation-duration: 2s;
}
@keyframes berserks {
  from {
    color: rgb(177, 38, 38);
  }
  to {
    color: white;
  }
}

.bggallery {
  position: absolute;
  opacity: 0.6;
  font-family: monbold;
  font-size: 120%;
  color: rgb(177, 38, 38);
  z-index: -1;
  margin-top: -2.7%;
  margin-left: 43%;
  margin-right: 43%;
  -webkit-transform: scale(1.3, 1.8);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgb(209, 11, 11);
}

.gallery {
  padding-top: -40%;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 2%;
}
.gallery img {
  width: 41%;
  padding: 4%;
  padding-bottom: 5%;
  transition: 0.7s;
}
.gallery img:hover {
  transform: scale(1.63);
}

/*ABOUT*/
.section {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  margin-top: 2%;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 70px;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 60%;
  margin-left: 12%;
  height: auto;
  transition: 0.7s;
}
.image-section img:hover {
  transform: scale(1.12);
}
.content-section .title {
  text-transform: uppercase;
  font-family: akira;
  font-size: 28px;
  color: rgb(198, 14, 14);
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
.content-section .content .buttonZ {
  margin-top: 30px;
}
.content-section .content .buttonZ a {
  background-color: transparent;
  padding: 12px 40px;
  text-decoration: none;
  border: 1px solid;
  border-color: red;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1.5px;
  border-radius: 25px;
}
.content-section .content .buttonZ a:hover {
  border-color: white;
  color: red;
}

/*FORM*/
#account-page {
  min-width: 530px;
}
.account-page {
  padding: 50px 0;
  margin-right: 60%;
  margin-top: -3%;
}
.form-container {
  background: transparent;
  border: 1px solid white;
  width: 320px;
  height: 400px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  padding: 25px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  font-family: dalek;
  font-size: 105%;
  padding: 0 10px;
  color: white;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 11px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
  overflow: hidden;
}
form input {
  width: 75%;
  color: white;
  height: 30px;
  background-color: transparent;
  caret-color: red;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid white;
}

form input::placeholder {
  color: grey;
}

form .btn {
  width: 60%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 25px;
  color: white;
  margin: 40px 0;
}
form .btn:focus {
  outline: none;
}
#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: red;
}
#Indicator {
  width: 130px;
  border: none;
  background: rgb(198, 14, 14);
  height: 3px;
  margin-top: 8px;
  transform: translateX(133px);
  transition: transform 1s;
}

video {
  position: absolute;
  margin-top: 2%;
  margin-left: 18%;
}

/*FOOTER*/
.footer {
  position: fixed;
  font-size: 13px;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: -10%;
  padding: 11px;
  background-color: rgb(31, 31, 31);
  color: white;
  text-align: center;
  font-family: "Kulim Park", sans-serif;
  z-index: 7;
}

@media screen and (max-width: 767px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
    z-index: 11;
  }
  nav .links {
    display: flex;
    float: none;
    text-align: center;
    position: fixed;
    z-index: 9;
    left: -4.4%;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    z-index: 11;
  }
  nav .links a {
    font-size: 18px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
    top: 7%;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .info h1 {
    margin-left: 30%;
    font-size: 140%;
    margin-right: 5%;
    margin-top: 11%;
    font-family: monreg;
    z-index: 7;
  }
  h1 span {
    color: rgb(177, 38, 38);
    font-family: akira;
    font-size: 500%;
    animation-name: berserk;
    animation-duration: 2.5s;
  }

  @keyframes berserk {
    from {
      color: white;
    }
    to {
      color: rgb(177, 38, 38);
    }
  }

  .bgtext h1 {
    position: absolute;
    opacity: 0.8;
    font-family: monbold;
    font-size: 1580%;
    color: rgb(177, 38, 38);
    z-index: -1;
    margin-top: 9%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    -webkit-transform: scale(1.3, 1.8);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(209, 11, 11);
    animation-name: bgtext;
    animation-duration: 1.5s;
    transition: 1s ease-in-out all;
  }

  @keyframes bgtext {
    from {
      right: 250px;
    }
    to {
      right: 0px;
    }
  }

  body .main_content {
    margin-top: 27%;
  }

  .gif {
    margin-left: 20%;
  }

  .main_content .info {
    margin: 20px;
    color: white;
    width: 100%;
  }

  .info h1 {
    margin-left: 25%;
    font-size: 150%;
    margin-top: -5%;
  }
  h1 span {
    font-size: 350%;
  }
  h1 span br {
    display: inline;
  }
  .bgtext h1 {
    margin-top: 26%;
  }

  .galleryh h1 {
    text-align: center;
    color: white;
    margin-top: 15%;
    margin-bottom: 8%;
    font-family: akira;
    font-size: 150%;
    animation-name: berserks;
    animation-duration: 2s;
  }
  @keyframes berserks {
    from {
      color: rgb(177, 38, 38);
    }
    to {
      color: white;
    }
  }
  .gallery {
    padding-top: -40%;
    margin-left: 9%;
    margin-right: 9%;
    padding-bottom: 10%;
  }
  .gallery img {
    width: 90%;
    padding: 4%;
    padding-bottom: 5%;
    transition: 0.7s;
  }
  .gallery img:hover {
    transform: scale(1.2);
  }
  .bggallery {
    position: absolute;
    opacity: 0.6;
    font-family: monbold;
    font-size: 80%;
    text-align: center;
    color: rgb(177, 38, 38);
    z-index: -1;
    margin-top: -13.9%;
    margin-left: 39%;
    margin-right: 35%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(209, 11, 11);
  }
  .form {
    margin-top: 5%;
    margin-right: 10%;
    position: absolute;
  }
  .account-page {
    padding: 10% 0;
    margin-right: 4%;
    margin-top: -3%;
  }
  video {
    margin-top: 105%;
    margin-left: 11%;
    margin-bottom: 20%;
    width: 80%;
    height: 40%;
  }

  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
    margin-top: 10%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 23%;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .buttonZ {
    text-align: center;
  }
  .content-section .content .buttonZ a {
    padding: 9px 30px;
  }
}
